@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
.main{
    width: 100vw;
    height: 100vh;
 background-color:#1A2238;
 display: flex;
 align-items: center;
justify-content: space-between;
font-family: 'Oooh Baby', cursive;
}
.left{
    width: 50%;
    height: 100%;
    padding: 20px;
}
.heading{
    text-align: center;
    color: #FF6A3D;
    font-size: 70px;
}
.social{
    text-align: center;
    font-size: 70px;
    line-height: 120px;
}
.social a{
    color: #fff;
    text-decoration: none;
}
.social a:hover{
    color: #FF6A3D;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s all;
}
.right{
    width: 50vw;
    height: 100vh;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading2{
    margin-bottom: 2vmax;
    color: #FF6A3D;
    font-size: 40px;
}
@media(max-width:998px){
    .main{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 97vw;
    }
    .left{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .heading{
        width: 70vw;
     

        font-size: 30px;
    }
    .social{
        font-size: 20px;
        list-style-type: disc;

    }
    .social li{
        color: #fff;
    }
    .heading2{
 display: none;
    }
    .gform{
        width: 80vw;
        height: 80vh;
    }
}