@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.main{
    width: 98.5vw;
    height: fit-content;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 3vmax;
   gap: 10vmax;
}
.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  width: 35%;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner_image {
  background-image: url(/rc.png);
  background-position: center;
  background-size: contain;
  height: 170px;
  width: 370px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
/* /expense_tracker.jpg */
.banner_image1 {
    background-image: url(/expense.png );
    background-position: center;
    background-size: contain;
    height: 170px;
    width: 370px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  .banner_image2 {
    background-image: url(/sm.png );
    background-position: center;
    background-size: contain;
    height: 170px;
    width: 370px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  .banner_image3 {
    background-image: url(/ad.png );
    background-position: center;
    background-size: contain;
    height: 170px;
    width: 370px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  .banner_image4 {
    background-image: url(/insurance.png );
    background-position: center;
    background-size: contain;
    height: 170px;
    width: 370px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  .banner_image5 {
    background-image: url(/cs.png );
    background-position: center;
    background-size: contain;
    height: 170px;
    width: 370px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
.wrapper h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 1.4rem;
  margin:20px 0px;
}

.wrapper p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.6rem;
  line-height: 170%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.button_wrapper{
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
  background-color: #2DD65F;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  

}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
@media(max-width:998px){
.main{
 width: 100%;
 height: fit-content;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column; 
}
.container{
  width: 80%;
  height: fit-content;
}
.banner_image {
  background-image: url(/rc.png);
  background-position: center;
  background-size: contain;
  height: 110px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner_image1 {
  background-image: url(/expense.png );
  background-position: center;
  background-size: contain;
  height: 110px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner_image2 {
  background-image: url(/sm.png );
  background-position: center;
  background-size: contain;
  height: 110px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner_image3 {
  background-image: url(/ad.png );
  background-position: center;
  background-size: contain;
  height: 110px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner_image4 {
  background-image: url(/insurance.png );
  background-position: center;
  background-size: contain;
  height: 110px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
.banner_image5 {
  background-image: url(/cs.png );
  background-position: center;
  background-size: contain;
  height: 110px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}
}