@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Gilroy";
}
.mainnav {
  width: 100%;
  height: 5rem;
  background-color:#dadada;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-link {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-link a {
  color: #1A2238;
  font-weight: 700;
  text-decoration: none;
}
.social-media {
  width: 15%;
}
.social-media-dekstop {
  width: 80%;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.hamburger-menu {
  display: none;
}
.menu-link a:hover{
  font-size: 30px;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s all;
  color: #FF6A3D;
  background-color: #1A2238;
  padding:10px;
  border-radius: 8px;
}
.logo{
  color: #1A2238;
  /* font-family: 'Oooh Baby', cursive; */
}
.develop{
  color: #FF6A3D;
}
.my-pic{
  width: 22vmax;
  height: 28vmax;
  /* border: 6px solid #1A2238; */
  border-radius: 50%;
}
.my-name{
  color: #FF6A3D;
}

.Loader{
  width: 98vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 998px){
  .Loader{
    width: 98vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-pic{
    display: none;
  }

  .my-name{
    color: yellow;
  }
  

  .menu-link {
    display: none;
  }
  .social-media-dekstop {
    display: none;
  }
  .hamburger-menu {
    display: initial;
    font-size: 23px;
    margin-left: 20px;
  }
  .responsive-menu {
    position: absolute;
    top: 12%; 
    background-color: #1A2238;
    height: 40rem;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 30px;
    gap: 25px;
    padding-top: 5vmax;
    font-weight: 900;
  }
  .responsive-menu a{
    color:#FF6A3D;
    font-family: 'Oooh Baby' , cursive;
  }
}